<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--<servlet>-->
        <!--<servlet-name>ZhuceServlet</servlet-name>-->
        <!--<servlet-class>servlet.ZhuceServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>Chaxun</servlet-name>-->
        <!--<servlet-class>servlet.Chaxun</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>NewServlet</servlet-name>-->
        <!--<servlet-class>servlet.NewServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
        <!--<servlet-name>Servlet</servlet-name>-->
        <!--<servlet-class>com.servlet.Servlet</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedServlet</servlet-name>
        <servlet-class>com.servlet.SchedServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>DestineServlet</servlet-name><servlet-class>com.servlet.DestineServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>ArrangeServlet</servlet-name>
        <servlet-class>com.servlet.ArrangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AffirmServlet</servlet-name>
        <servlet-class>com.servlet.AffirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamineSerlvet</servlet-name>
        <servlet-class>com.servlet.ExamineSerlvet</servlet-class>
    </servlet>
    <servlet><servlet-name>RecedServlet</servlet-name><servlet-class>com.servlet.RecedServlet</servlet-class></servlet>
    <servlet><servlet-name>PurchaseServlet</servlet-name><servlet-class>com.servlet.PurchaseServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>InterServlet</servlet-name>
        <servlet-class>com.servlet.InterServlet</servlet-class>
    </servlet>
    <!--<servlet>-->
        <!--<servlet-name>NewServlet_1</servlet-name>-->
        <!--<servlet-class>com.servlet.NewServlet</servlet-class>-->
    <!--</servlet>-->
    <servlet>
        <servlet-name>RecedeServlet</servlet-name>
        <servlet-class>com.servlet.RecedeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassServlet</servlet-name>
        <servlet-class>com.servlet.PassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyServlet</servlet-name>
        <servlet-class>com.servlet.ModifyServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>NewUser</servlet-name><servlet-class>com.servlet.NewUser</servlet-class></servlet>
    <servlet>
        <servlet-name>NoparamServlet</servlet-name>
        <servlet-class>com.servlet.NoparamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.servlet.AdminServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>/WEB-INF/config.properties</param-value>
        </init-param>
        </servlet>
    <servlet><servlet-name>IntercalateServlet</servlet-name><servlet-class>com.servlet.IntercalateServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>HavingServlet</servlet-name>
        <servlet-class>com.servlet.HavingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightServlet</servlet-name>
        <servlet-class>com.servlet.FlightServlet</servlet-class>
    </servlet>
    <!--<servlet-mapping>-->
        <!--<servlet-name>ZhuceServlet</servlet-name>-->
        <!--<url-pattern>/ZhuceServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Chaxun</servlet-name>-->
        <!--<url-pattern>/Chaxun</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>NewServlet</servlet-name>-->
        <!--<url-pattern>/NewServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Servlet</servlet-name>-->
        <!--<url-pattern>/Servlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedServlet</servlet-name>
        <url-pattern>/SchedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestineServlet</servlet-name>
        <url-pattern>/DestineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArrangeServlet</servlet-name>
        <url-pattern>/ArrangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffirmServlet</servlet-name>
        <url-pattern>/AffirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamineSerlvet</servlet-name>
        <url-pattern>/ExamineSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecedServlet</servlet-name>
        <url-pattern>/RecedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterServlet</servlet-name>
        <url-pattern>/InterServlet</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>-->
        <!--<servlet-name>NewServlet_1</servlet-name>-->
        <!--<url-pattern>/NewServlet_1</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>RecedeServlet</servlet-name>
        <url-pattern>/RecedeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassServlet</servlet-name>
        <url-pattern>/PassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyServlet</servlet-name>
        <url-pattern>/ModifySerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoparamServlet</servlet-name>
        <url-pattern>/NoparamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntercalateServlet</servlet-name>
        <url-pattern>/IntercalateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HavingServlet</servlet-name>
        <url-pattern>/HavingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightServlet</servlet-name>
        <url-pattern>/FlightServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
           index.html
        </welcome-file>
    </welcome-file-list>
</web-app>
