<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3308/db_stuman
	</property>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">1016</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	<mapping resource="com/sanqing/course/model/Course.hbm.xml" />
	<mapping resource="com/sanqing/course/model/CourseSchedule.hbm.xml" />
	<mapping resource="com/sanqing/course/model/Mark.hbm.xml" />
	<mapping resource="com/sanqing/course/model/Student.hbm.xml" />
	<mapping resource="com/sanqing/course/model/Teacher.hbm.xml" />
	<mapping resource="com/sanqing/course/model/Team.hbm.xml" />
	<mapping resource="com/sanqing/course/model/User.hbm.xml" />
</session-factory>

</hibernate-configuration>